{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('h3.expandable').click(function() {
    $img = $(this).children('img');
    if ($img.attr('src') == '/static/img/tri-closed-white.png') {
        $img.attr('src', '/static/img/tri-open-white.png');
        $(this).next().show()
    } else {
        $img.attr('src', '/static/img/tri-closed-white.png');
        $(this).next().hide()
    }
  });
});
</script>
{% endblock %}

{% block extrastyle %}
<style>
  h3.expandable {cursor: pointer; clear: left;}
  h3.expandable + table, h3.expandable + ul, h3.expandable + div {display: none;}
  div.room {float:left; background-color: #EEE; border-radius: 10px; margin: 5px; padding: 5px; min-height: 4em;}
  div.room h4 {margin: 0}
</style>
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}
<div id="content-admin" style="float: right;">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>

<div><h3 class="expandable"><img src="{{ STATIC_URL }}img/tri-closed-white.png"> Matériel à commander ({{ missing_mat|length }})</h3>
{% for mat in missing_mat %}
  {% if forloop.first %}<table>{% endif %}
  <tr><td>&bullet; {{ mat }}</td>
      <td class="number">{{ mat.total_quant }}</td><td class="number">{{ mat.threshold }}</td></tr>
  {% if forloop.last %}</table>{% endif %}
  {% empty %}<p>Pas de matériel à commander</p>
{% endfor %}

<h3 class="expandable"><img src="{{ STATIC_URL }}img/tri-closed-white.png"> Commandes en cours ({{ cur_orders|length }})</h3>
<ul>
{% for order in cur_orders %}
  <li>{{ order }}</li>
{% endfor %}
</ul>

<h3 class="expandable"><img src="{{ STATIC_URL }}img/tri-closed-white.png"> Salles et armoires</h3>
<div>
{% for room in rooms %}
  <div class="room">
    <h4>{{ room }}</h4>
    {% for storage in room.storage_set.all %}<a href="{% url 'storage' storage.pk %}">{{ storage.code }}</a><br>{% endfor %}
  </div>
{% endfor %}
</div>

<h3 class="expandable"><img src="{{ STATIC_URL }}img/tri-closed-white.png"> Saisir un mouvement</h3>
<form>
</form>
</div>
{% endblock %}
