{% extends "admin/base_site.html" %}
{% load i18n l10n static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('h3.expandable').click(function() {
    $img = $(this).children('img');
    if ($img.attr('src') == '/static/img/tri-closed-white.png') {
        $img.attr('src', '/static/img/tri-open-white.png');
        $(this).next().show();
    } else {
        $img.attr('src', '/static/img/tri-closed-white.png');
        $(this).next().hide();
    }
  });

  $('div.expandable').click(function() {
    var $img = $(this).children('img');
    var $form_div = $(this).parent().find("div.order_detail");
    if ($img.attr('src') == '/static/img/tri-closed-white.png') {
        $img.attr('src', '/static/img/tri-open-white.png');
        $.get('{% url "material_receive" %}', {pk: $(this).parent().data('pk')}, function (data) {
            $form_div.html(data).show();
            DateTimeShortcuts.init();
        });
        //$(this).find("div.order_detail").load('{% url "material_receive" %}', {pk: $(this).data('pk')}).show();
    } else {
        $img.attr('src', '/static/img/tri-closed-white.png');
        $form_div.hide();
    }
  });

  $("a.order").click(function (ev) {
    ev.preventDefault();
    $('td.order').hide();
    var $tr_line = $(this).parents('tr');
    $tr_line.after('<tr><td colspan="3" id="form_td"></td></tr>');
    $.get('{% url "material_order" %}', {mat: $tr_line.data('id')},
        function(data) {
            $('#form_td').html(data);
            DateTimeShortcuts.init();
    }, 'html');
  });
  $("#item_list").on('click', '#cancel_btn', function () {
    $(this).parents('tr').remove();
    $('td.order').show();
  });
  $("#item_list, ul.orders").on('submit', function (ev) {
    ev.preventDefault();
    $.post(ev.target.action, $(ev.target).serialize(), function(data, status) {
      // Display on error, reload on success
      if (status == 'success' && data.indexOf('/') == 0) {
        location.reload(true);
      } else {
        // Redisplay form with errors
        $(ev.target).parent().html(data);
        DateTimeShortcuts.init();
      }
    });
  });
});
var django = django || {};
django.jQuery = $;
</script>
{% endblock %}

{% block extrastyle %}
<style>
  h3.expandable, div.expandable {cursor: pointer; clear: left;}
  h3.expandable + table, h3.expandable + ul, h3.expandable + div {display: none;}
  ul.orders, ul.orders li {list-style-type: none;}
  div.room {float:left; background-color: #EEE; border-radius: 10px; margin: 5px; padding: 5px; min-height: 4em;}
  div.room h4 {margin: 0}
</style>
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}
<div id="content-admin" style="float: right;">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>

<div><h3 class="expandable"><img src="{{ STATIC_URL }}img/tri-closed-white.png"> Matériel à commander ({{ missing_mat|length }})</h3>
{% for mat in missing_mat %}
  {% if forloop.first %}<table id="item_list">{% endif %}
  <tr data-id="{{ mat.pk|unlocalize }}"><td>&bullet; {{ mat }}</td>
      <td class="number">{{ mat.total_quant }}</td><td class="number">{{ mat.threshold }}</td>
      <td class="order"><i><a class="order" href="#" style="font-size: 90%;">Commander</a></i></td></tr>
  {% if forloop.last %}</table>{% endif %}
  {% empty %}<p>Pas de matériel à commander</p>
{% endfor %}

<h3 class="expandable"><img src="{{ STATIC_URL }}img/tri-closed-white.png"> Commandes en cours ({{ cur_orders|length }})</h3>
<ul class="orders">
{% for order in cur_orders %}
  <li data-pk="{{ order.pk }}"><div class="expandable"><img src="{{ STATIC_URL }}img/tri-closed-white.png"> Commande de : {{ order.material }}, le {{ order.order_date }}</div>
    <div class="order_detail"></div>
  </li>
{% endfor %}
</ul>

<h3>Salles et armoires</h3>
<div style="margin-right: 20%">
{% for room in rooms %}
  <div class="room">
    <h4>{{ room }}</h4>
    {% for storage in room.storage_set.all %}<a href="{% url 'storage' storage.pk %}">{{ storage.code }}</a><br>{% endfor %}
  </div>
{% endfor %}
</div>

<p style="clear: left;">Somme totale d'inventaire  : {{ total|floatformat:2 }}</p>
<p>Mouvements par année (exportation Excel) : {% for dt in mov_years %}<a href="{% url 'movement_export' dt.year %}">{{ dt.year|unlocalize }}</a> {% endfor %}
</div>
{% endblock %}
